* {
	margin: 0%;
	padding: 0px;
	font-family: arial, sans-serif;
}
form {
	display: block;
	width: 50%;
	margin: 3% auto;
}

fieldset {
	padding: 10px 10px 10px 50px;
}

label {
	display: block;
	vertical-align: bottom;
	font-weight: bold;
}
input {
	width: 50%;
	margin: 1% 0%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #888888;
	display: block;
}
button, .button {
	background: blue;
	border-radius: 5px;
	padding: 5px;
	color: white;
	border: none;
	width: initial;
}
.button:nth-child(6) {
	margin-left: 45%;
}
.button:nth-child(12) {
	margin-left: 42.5%;
}
.label {
	font-weight: bold;
}

#product_view td {
	border: none;
}
